html {
    margin: 0;
    font-family: sans-serif;
}
    
body {
    margin: 0;
}
header {
    background-position: center;
    background-image: url("../images/apple-pie.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 900px;
    margin: 0;
}

h1{
    text-align: center;
    color: whitesmoke;
    padding: 300px 400px;  
    font-weight:lighter; 
    font-size: 80px; 
    
}
h3 {
    font-size: 12px;
    width: 600px;
    margin-left: 400px;
    margin-right: 300px;
    text-align: center;
}
.Introduction {
    text-align: center;
    width: 600px;
}
.cooking {
    padding-top: 100px;
    margin-left: 400px;
}

.ingredients {
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.recipeinfo {
    margin-left: 350px;
}

.directions {
    padding: 20px;
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 10px;
    color: white;
    text-align: center;
}
